/**
 * 全局修改样式
 */

html {
  font-size: 16px;
}
h1 {
  font-size: 24px;
  text-align: center;
  color: #3e3e3e;
}
/**
 * 卡片悬浮手势
 */
.el-card {
  cursor: pointer;
}
/**
 * a 标签
 */
a {
  color: #409EFF;
}
