.markdown-body {
  h2 {
    font-size: 1.1em;
    text-align: center;
    color: rgb(171, 25, 66);
  }
  h3 {
    font-size: 1em;
  }
  pre code {
    font-size: .9rem;
  }
  hr {
    height: 1px;
    margin: 1.5rem 0;
    border: none;
    border-top: 1px dashed #A5A5A5;
  }
  blockquote {
    padding: 15px 1rem;
    font-size: 17px;
    line-height: 22px;
    padding-right: 15px;
    // margin-left: 0;
    color: #819198;
    border-left: 6px solid #dce6f0;
    background: #f2f7fb;
    margin: 1em 0 1em 2em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .Shell {
    .hljs-keyword, .hljs-attribute, .hljs-regexp, .hljs-selector-tag, .hljs-built_in, .hljs-title, .hljs-selector-class, .hljs-number {
      color: #f8f8f2;
    }
  }
}
